/* ------------------------------------------------------------------ */
/* challenge Section
/* ------------------------------------------------------------------ */
#challenge {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 0px;
    overflow: hidden;
 }

 #challenge a, #challenge a:visited  { color: #0762f9; }
 #challenge a:hover, #challenge a:focus { color: #313131; }
 
 #challenge h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 #challenge h1 span {
    border-bottom: 3px solid #0762f9;
    padding-bottom: 6px;
 }
 #challenge h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
 }
 
 #challenge .header-col { padding-top: 9px; }
 #challenge .main-col { padding-right: 10%; }

 #challenge .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
 }
 #challenge .info span {
    margin-right: 5px;
    margin-left: 5px;
 }
 #challenge .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
 }
 