/* ------------------------------------------------------------------ */
/* rules Section
/* ------------------------------------------------------------------ */
#rules {
    background: #fff;
    /* padding-top: 90px; */
    /* padding-bottom: 72px; */
    margin-bottom: 50px;
    overflow: hidden;
 }
 
 #rules a, #rules a:visited  { color: #0762f9; }
 #rules a:hover, #rules a:focus { color: #313131; }
 
 #rules h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 #rules h1 span {
    border-bottom: 3px solid #0762f9;
    padding-bottom: 6px;
 }
 #rules h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
 }
 
 #rules .header-col { padding-top: 9px; }
 #rules .main-col { padding-right: 10%; }

 #rules .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
 }
 #rules .info span {
    margin-right: 5px;
    margin-left: 5px;
 }
 #rules .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
 }
 